// Place all the styles related to the blas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sentence {
  margin-top:60px
}

.item {
  font-size:1.5em;
}

.button_bla {
  text-align:center;
}

.quote_left {
  text-align:right;
  font-size: 30px;
  margin-top:50px
}

.quote_right {
  text-align:left;
  font-size: 30px;
  margin-top:50px

}

p {
  font-size: 30px;
  text-align: center;
}

